.waypoint{
	margin: 0;
	position: absolute;
	z-index: -999;
	opacity: 0;
	width: 100vw;
	height: 20vh;
}

.whome{
	top: 40vh;
}

.wabout{
	top: 60vh;
}

.wregister{
	top: 160vh;
}

.wcontact{
	top: 260vh;
}
