<div class="babout"></div>
<section class="about">
	<h1 id="about">About</h1>
	<div>
	<b>
		<p>
			Ga in Gent er op uit met je trouwe viervoeter! Ben je opreis of heb je een drukke dag waardoor je je hond niet kan uitlaten? Met WAF vind je makkelijk een oppas! 
		<br>
			Heb je geen hond maar zou je wel graag een viervoetige vriend hebben? Met WAF kan je honden uitlaten van baasjes die het momenteel te druk hebben of op reis zijn.
		</p>
		<p>
			Walk A Friend brengt mens en dier dichter bij elkaar op een snelle, eenvoudige en overzichtelijke manier.
		</p>
	</b>
	<p>
	</p>
	<p>
		<h3>Hoe gaat het in zijn werk:</h3>
		<div class="lenen">
			<h4>Hond lenen</h4>
			<div class="group">
			<div class="circle">
				Activiteit zoeken
			</div>
			<div class="rectholder">
				<i class="fa fa-arrow-right fa-3x"></i>
				<i class="fa fa-arrow-down fa-2x"></i>
			</div>
			<div class="circle">
				Activiteit accepteren
			</div>
			<div class="rectholder">
				<i class="fa fa-arrow-right fa-3x"></i>
				<i class="fa fa-arrow-down fa-2x"></i>
			</div>
			<div class="circle">
				Klaar!
			</div>
			</div>
		</div>
		<div class="uitlenen">
			<h4>Hond uitlenen</h4>
			<div class="group">
			<div class="circle">Activiteit maken</div>
			<div class="rectholder">
				<i class="fa fa-arrow-right fa-3x"></i>
				<i class="fa fa-arrow-down fa-2x"></i>
			</div>
			<div class="circle">Wachten op acceptatie</div>
			<div class="rectholder">
				<i class="fa fa-arrow-right fa-3x"></i>
				<i class="fa fa-arrow-down fa-2x"></i>
			</div>
			<div class="circle">Klaar!</div>
			</div>
		</div>
	</p>
	<p>
		<h3>Wie zijn we</h3>
		<div class="group-wij">
			
			<div class="wijInfo">
				<h4>Arno</h4>
				<p>Stil en nagenoeg geruisloos, op de achtergrond maar toch alrt. To the point en tevens een bron van inspiratie.</p>
				<p>Vernieuwender als geen ander. Een stille wind die doet verbazen.</p>
			</div>
			<img src="/css/img/arno-zwart-wit.png" alt="Arno">
		
			<img src="/css/img/bjorn-zwart-wit.jpg" alt="Bjorn">
			<div class="wijInfo">
				<h4>Bjorn</h4>
				<p>Dooracht, afgewogen en met veel finesse. Punctueel en strucureel in combinatie met de nodige dosis creativiteit.</p>
				<p>Bundel dit samen en je hebt gecontroleerde creativiteit met lef &amp; durf.</p>
			</div>
		</div>
	</p>
	</div>
</section>
<div id="aboutend"></div>