<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ page.title }} | {{ site.title }}</title>
	<link rel="stylesheet" href="{{'/css/mvboli.ttf' | 'prepend: site.baseurl'}}" type="text/css">
	<link rel="stylesheet" href="{{'/css/main.css' | 'prepend: site.baseurl'}}">
	<link rel="stylesheet" href="{{'/css/base/font-awesome/font-awesome.css' | 'prepend: site.baseurl'}}">
	<link rel="stylesheet" href="{{'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'}}">
	<link rel="stylesheet" href="{{'/css/base/font-dogs/font/flaticon.css' | 'prepend: site.baseurl'}}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>