<div class="header">
	<strong class="headerTitle"></strong>
<nav class="hamburger">
			<i class="fa fa-bars fa-2x"></i>
</nav>
</div>
<aside class="navigatie">
		<nav>

	<ul class="zoek">
		<h3>Navigeer</h3>
		<li>
			<a href="{{'/index.html'}}">
				
				<i class="fa fa-home"></i>
				Home
			</a>
		</li>
		<li>
			<a href="{{'/index.html#about'}}">
				Over
				<i class="fa fa-info"></i>
			</a>
		</li>
		<li>
			<a href="{{'/index.html#register'}}">
				Registreer 
				
				<i class="fa fa-pencil"></i>
			</a>
		</li>
	
		<li>
			<a href="{{'/index.html#contact'}}">
				Contact
				<i class="fa fa-envelope"></i>
			</a>
		</li>
		
		
		<div class="inlogNav">
		<li>
			<a href="/_pages/myprofile.html">
				Mijn Profiel
				 
			<i class="fa fa-user"></i>
			</a>
		</li>
		<li>
			<a href="/_pages/browse.html">
				Browse
				<i class="fa fa-map-marker"></i>
			</a>
		</li>
		<li>
			<a href="/_pages/action.html">
				Nieuwe activiteit
				<i class="fa fa-plus"></i>
			</a>
		</li>
		
		<li>
			<a href="/_pages/activities.html">
				Mijn activiteiten
				 <i class="fa fa-list"></i>
			</a>
		</li>
		<li>
			<a href="/_pages/hondenvoorzieningen.html">
				Nuttige locaties
				 <i class="fa fa-map-signs"></i>
			</a>
		</li>
		
		<li>
			<a href="/index.html#home" class="btnLogout">
				Uitloggen
				<i class="uitloggen fa fa-sign-out"></i>
			</a>
		</li>
		</div>
	</ul>
		</nav>
</aside>

<header>
	
</header>