<div class="bhome">
</div>
<section class="home">
<div  id="titel">
	<h1 id="home">Waf</h1>
	<h2>Walk a friend</h2>
	<h3>Scroll to learn more</h3>
</div>
<form action="" class="form_home">
	<label for="user">Gebruikersnaam:</label>
	<input type="text" name="user" placeholder="Gebruikersnaam">
	<label for="pass">Wachtwoord:</label>
	<input type="password" name="pass" placeholder="Wachtwoord">
	<input type="submit" class="btn btnLogin" name="login" value="LOGIN">
	<button class="btn" id="btnreg" href="#register"><a href="#register">Nieuwe Gebruiker</a></button>
</form>
<div class="weather">
	
</div>
</section>
