<div class="bregister"></div>
<section class="register">
<h1 id="register">Registreren</h1>
<p class="infoRegister">Nog geen gebruiker? Altijd al een deel willen uitmaken van een geweldige hondencommunity? Aarzel dan niet om je te registreren!</p>
<p class="placeholderErrorMessage"></p>
<form action="" class="form_register">
	<label for="reguser" >Username:</label>
	<input type="text" name="reguser" placeholder="Gebruikersnaam" required>
	<label for="email" >Email-adres:</label>
	<input type="text" name="email" placeholder="Email" required>
	<label for="regpass" >Wachtwoord:</label>
	<input type="password" name="regpass" placeholder="Wachtwoord" required>
	<label for="reregpass">Re-Wachtwoord:</label>
	<input type="password" name="reregpass" placeholder="Wachtwoord" required>
	<button class="btn" id="regreg">Registreer</button>
</form>
</section>
