<script src="{{'/js/jquery-3.1.1.min.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/underscore.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/waypoint/lib/jquery.waypoints.min.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/waypoint.js'| 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/main.js' |  'prepend: site.baseurl'}}"></script>
<script src="{{'/js/models.js' |  'prepend: site.baseurl'}}"></script>
<script src="{{'/js/services.js' |  'prepend: site.baseurl'}}"></script>
<script src="{{'/js/utils.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/helpers.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/smoothscroll.js'| 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/parallax.js'| 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/navigation.js' | 'prepend: site.baseurl'}}"></script>

<script src="{{'/js/map.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{https://query.yahooapis.com/v1/public/yql?q=select wind from weather.forecast where woeid in (select woeid from geo.places(1) where text='Ghent')&format=json&callback=json}}"></script>
